/* background colour of all pages */

body{
	background-color: lavenderblush;
	font-family: "Helvetica", sans-serif;
	color: purple;
	}

/* main heading tags */
h1 {
	text-align:center;
  color: orange;
  font-family: "Varela Round", serif;
}

h2 {
	text-align:center;
  color: pink;
  font-family: "Times New Roman", sans-serif;
  font-weight: 100;
}

p{	
	text-align:center;
	color: #87CEFA;
    font-family: Arial;
}

/* background  */

body{
    background-size: cover;
}













